In [4]:
import pandas as pd
import plotly
import plotly as py
import plotly.express as px
import plotly.graph_objects as go
import plotly.io as pio
#py.offline.init_notebook_mode(connected = True,)
pio.renderers.default = "notebook"

In [7]:
xls = pd.ExcelFile('D:\Kadre\Kadre\APRA\gitaprarepo\Apra-Monthly-Deposits\Data\c01-1-hist.xlsx')
df = pd.read_excel(xls, sheet_name='Data', header=1)
xls = pd.ExcelFile('D:\Kadre\Kadre\APRA\gitaprarepo\Apra-Monthly-Deposits\Data\850101.xlsx')
turnoverdf = pd.read_excel(xls, sheet_name='Data1', header=0)
xls = pd.ExcelFile('D:\Kadre\Kadre\APRA\gitaprarepo\Apra-Monthly-Deposits\Data\c02hist.xlsx')
debit = pd.read_excel(xls, sheet_name='Data', header=1)

In [86]:
df_cut = df.iloc[220:,:]
debit_cut = debit.iloc[110:,:]
pd.options.mode.chained_assignment = None  # default='warn'

In [87]:
df.shape

(461, 41)

In [88]:
df_cut.shape

(241, 41)

In [89]:
df_cut

,Title,Number of accounts,Number of cards on issue,Number of credit cards on issue,Number of charge cards on issue,Number of cash advances,Value of cash advances,Number of domestic cash advances,Value of domestic cash advances,Number of overseas cash advances,...,Number of transactions acquired in Australia: overseas-issued cards,Value of transactions acquired in Australia: overseas-issued cards,Number of transactions acquired in Australia: overseas-issued cards: device present,Value of transactions acquired in Australia: overseas-issued cards: device present,Number of transactions acquired in Australia: overseas-issued cards: device not present,Value of transactions acquired in Australia: overseas-issued cards: device not present,Number of transactions acquired in Australia: device present,Value of transactions acquired in Australia: device present,Number of transactions acquired in Australia: device not present,Value of transactions acquired in Australia: device not present
220,2002-08-31 00:00:00,10291.4,14093.8,12732.7,1361.13,2972.32,863.195,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221,2002-09-30 00:00:00,10297.5,14172.3,12812.5,1359.8,3044.55,862.58,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
222,2002-10-31 00:00:00,10325,14218.5,12849.9,1368.65,3063.02,892.702,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
223,2002-11-30 00:00:00,10342.9,14315.9,12951.5,1364.4,2892.11,821.843,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224,2002-12-31 00:00:00,10436.3,14443.6,13093.1,1350.55,3064.01,872.277,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456,2022-04-30 00:00:00,13149.4,17528.2,16112.9,1415.33,1034.28,391.89,978.362,372.933,55.914,...,6593.57,797.377,4101.98,347.955,2491.58,449.422,159881,11895,49608.7,10952.2
457,2022-05-31 00:00:00,13150.6,17526.6,16098.4,1428.18,1202.85,450.541,1133.4,427.352,69.452,...,6880.98,870.915,4119.45,349.429,2761.53,521.486,169834,12860.2,56361.1,12847.8
458,2022-06-30 00:00:00,13161.4,17511.7,16073.1,1438.66,1094.46,435.077,1013.95,408.027,80.513,...,6613.26,889.742,3905.05,341.837,2708.21,547.904,163456,12770,54288.3,13177.9
459,2022-07-31 00:00:00,13168.9,17512.2,16066.1,1446.1,1053.06,406.505,959.921,374.169,93.134,...,7460.08,1024.64,4639.47,395.984,2820.61,628.653,160572,12057.8,52494.7,11902.6
460,2022-08-31 00:00:00,13172.6,17509.8,16049.7,1460.1,1202.19,459.339,1110.6,428.927,91.596,...,8057.41,1028.32,5072.21,412.766,2985.2,615.553,169935,12916.1,56502.4,13754.5

In [90]:
debit_cut

,Title,Number of purchases,Value of purchases,Number of cash-out transactions,Value of cash-out transactions,Number of domestic transactions,Value of domestic transactions,Number of overseas transactions,Value of overseas transactions,Total number of transactions,...,Number of transactions acquired in Australia: own cards,Value of transactions acquired in Australia: own cards,Number of transactions acquired in Australia: other domestic cards,Value of transactions acquired in Australia: other domestic cards,Number of transactions acquired in Australia: device present,Value of transactions acquired in Australia: device present,Number of transactions acquired in Australia: device not present,Value of transactions acquired in Australia: device not present,Total number of transactions acquired in Australia,Total value of transactions acquired in Australia
110,2002-10-31 00:00:00,77.3838,4286.53,15.7393,914.034,78.5894,5166.2,0.336507,34.4103,78.7292,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,2002-11-30 00:00:00,78.7137,4451.09,15.8659,923.065,79.8847,5319.28,0.394207,41.9734,80.0689,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,2002-12-31 00:00:00,78.8724,4461.18,15.9971,935.855,80.0232,5351.02,0.390564,41.2075,80.2437,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113,2003-01-31 00:00:00,79.614,4508.46,15.9277,936.961,80.7696,5410.72,0.367476,39.5339,80.9762,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,2003-02-28 00:00:00,79.879,4545.75,15.8391,922.467,81.0316,5434.91,0.39077,42.0833,81.2997,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
344,2022-04-30 00:00:00,820.783,41358.1,8.47434,795.14,803.429,40400,20.0536,1471.84,840.853,...,75.1831,4347.35,586.142,29317.7,563.731,26384.2,103.049,8106.36,667.204,34129.3
345,2022-05-31 00:00:00,858.99,43088.3,8.44138,789.522,841.515,42549.3,20.6703,1552.23,847.062,...,75.832,4374.43,598.993,29951,577.105,26741.9,104.525,8077.91,678.649,34972.8
346,2022-06-30 00:00:00,860.529,43278.2,8.38056,788.133,842.001,43032.1,22.0547,1591.44,866.14,...,76.7419,4382.49,598.401,30567.1,575.972,26929.2,103.973,8051.29,681.188,35716.3
347,2022-07-31 00:00:00,860.145,42186.1,8.41529,789.314,840.026,41059.1,23.3763,1664.1,861.946,...,75.8096,4350.57,602.179,31112.1,583.317,26827.7,103.69,7885.95,683.799,35596.4
348,2022-08-31 00:00:00,876.771,44460.8,8.35222,788.166,856.509,43893.1,23.2561,1693.7,882.505,...,76.185,4420.36,603.36,31787.5,582.112,27126.2,96.6146,7776.06,684.753,36027.4

In [91]:
df_cut.columns

Index(['Title', 'Number of accounts', 'Number of cards on issue',
       'Number of credit cards on issue', 'Number of charge cards on issue',
       'Number of cash advances', 'Value of cash advances',
       'Number of domestic cash advances', 'Value of domestic cash advances',
       'Number of overseas cash advances', 'Value of overseas cash advances',
       'Number of purchases', 'Value of purchases',
       'Number of domestic purchases', 'Value of domestic purchases',
       'Number of overseas purchases', 'Value of overseas purchases',
       'Number of overseas purchases: device present',
       'Value of overseas purchases: device present',
       'Total number of transactions', 'Total value of transactions',
       'Repayments', 'Balances accruing interest', 'Total balances ',
       'Credit limits', 'Total number of transactions acquired in Australia',
       'Total value of transactions acquired in Australia',
       'Number of transactions acquired in Australia: own cards',
       'Value of transactions acquired in Australia: own cards',
       'Number of transactions acquired in Australia: other domestic cards',
       'Value of transactions acquired in Australia: other domestic cards',
       'Number of transactions acquired in Australia: overseas-issued cards',
       'Value of transactions acquired in Australia: overseas-issued cards',
       'Number of transactions acquired in Australia: overseas-issued cards: device present',
       'Value of transactions acquired in Australia: overseas-issued cards: device present',
       'Number of transactions acquired in Australia: overseas-issued cards: device not present',
       'Value of transactions acquired in Australia: overseas-issued cards: device not present',
       'Number of transactions acquired in Australia: device present',
       'Value of transactions acquired in Australia: device present',
       'Number of transactions acquired in Australia: device not present',
       'Value of transactions acquired in Australia: device not present'],
      dtype='object')

In [132]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import plotly.io as pio
def growth_plot():


    pio.templates.default = "plotly_white"
    fig = make_subplots(specs=[[{"secondary_y": True}]])

    fig.add_trace(go.Scatter(y=debit_cut['Number of purchases'],x=debit_cut.Title,name = 'Debit Card Purchases'
    # color_discrete_map={
    #                 "Big 4": "brown",
    #                 "International retail bank": "#565656",
    #                 "Tier 2 bank (1)": "#316395",
    #                 "Tier 2 bank (2)": "rgb(15,133,84)",
    #                 "Other bank": "rgb(111,64,112)"},
    ),secondary_y=False)
    fig.update_layout(legend=dict(
        orientation="h",
        title="Card Types",
#        yanchor="bottom",
#        y=1.2,
#        xanchor="left",
 #       x=0.4)
        )
        ,title_text = "Debit vs Credit Card Purchases")
    fig.add_trace(go.Scatter(x=df_cut.Title, y=df_cut['Total number of transactions'],
                    mode='lines',
                    name='Credit Card Purchases'),secondary_y=True)
    fig.update_xaxes(title= "")
    fig.update_traces(mode='lines')
    fig.update_xaxes(title_text='Time' )
    fig.update_yaxes(title_text='Volume (Millions)' )
    fig.update_yaxes(title_text='Volume (000)',secondary_y=True )
    
    # fig.add_annotation(x='2022-08-01', y=2.81,
    #             text="+281%",
    #             showarrow=False,
    #             arrowhead=1)
    # fig.add_annotation(x='2022-08-01', y=0.35,
    #             text="+31%",
    #             showarrow=False,
    #             arrowhead=1)
    # fig.add_annotation(x='2022-08-01', y=0.97,
    #             text="+97%",
    #             showarrow=False,
    #             arrowhead=1)
    # fig.add_annotation(x='2022-08-15', y=0.11,
    #             text="Big4 +11%",
    #             showarrow=False,
    #             arrowhead=2)
    #fig.show()  
    return fig

In [133]:
growth_plot()